html {
  box-sizing: border-box;
  font-family: GoogleSans, sans-serif;
  font-weight: 400;
  font-size: 20px;
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  position: relative;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);

  &--fixed {
    overflow-y: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

p {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: calc(var(--container-width) + (var(--container-padding) * 2));

  @include tablet {
    padding: 0 45px;
  }

  @include mobile {
    padding: 0 28px;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.header__container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1830px;

  @include tablet {
    padding: 0 36px;
  }

  @include mobile {
    padding: 0 30px;
  }
}

.hidden {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}
