:root {
  // General Colors
  --text-color: #fff;
  --accent-color: #55a1ff;
  --accent-color-2: #5bb57f;
  --bg-color: #01040f;

  // Container
  --container-padding: 15px;
  --container-width: 1680px;
}
