.btn {
  border-radius: 300px;
  padding: 33px 40px;
  color: var(--text-color);

  @include mobile {
    padding: 25px 40px;
    font-size: 13px;
  }

  &-diag {
    position: relative;
    z-index: 10;
    padding-right: 130px;
    box-shadow: inset 0 4px 25px 0 #ffffff26;
    background: linear-gradient(90deg, #2f83ea 0%, #14529e 100%);

    @include flex-align-center;

    @include mobile {
      width: 100%;
    }

    @include small-mobile {
      padding-right: 110px;
    }

    &-text {
      @include tablet {
        display: none;
      }

      &-mob {
        display: none;

        @include tablet {
          display: block;
        }
      }
    }
  }
}
